h3{
    font-size: 10px;
}

li.collection-item div h3{
    margin-top: 0.1em;
}

li.collection-item div p:hover{
    text-decoration: underline;
}

a h3{
    color: black;
}

.collapsible-body {
    padding: 1rem !important;
}